@font-face {
    font-family: 'Magical Night';
    src: url('./fonts/MagicalNight-Regular.woff2') format('woff2'),
        url('./fonts/MagicalNight-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Magical Night;
    min-height: 98vh;
    background: url("images/mystical-forest.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 90vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1.4fr 3fr;
    border-radius: 50px;
    overflow: hidden;
}


.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background: rgba(45, 95, 93, 0.4);
    display: flex;
    position: relative;

}

.sidebar > * {
    margin: 20px;
}

.add {
    display: flex;
    flex-direction: column;
}

#add-task,
#add-project {
    font-family: Magical Night;
    font-size: 2.5em;
    display: flex;
    width: 8em;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    background-color: rgba(212, 162, 76, 0.85);
    border: 1px solid rgba(184, 224, 210, 0.4); 
    margin-bottom: 1.5em;   
    transition: width 0.3s ease-in-out ,
                font-size 0.3s ease-in-out,
                background-color 0.3s ease-in-out      
}
#add-task {
    position: absolute;
    right: 20px;
}
#add-task:hover,
#add-project:hover {
    font-size: 2.55em;
    width: 8.1em;
    background-color: color-mix(in srgb, rgba(212, 162, 76, 0.85) 90%, black);
    border: 1px solid rgba(74, 93, 45, 0.85)
}
#add-project {
    position: absolute;
    top: 3em;
}

button {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
button:hover {
    transform: scale(1.1);
}