* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 98vh;
    background: url("images/mystical-forest.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapper {
    height: 90vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1.4fr 3fr;
    border-radius: 50px;
    overflow: hidden;
}


.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background: rgba(45, 95, 93, 0.4);
}
.content {
    background: rgba(15, 31, 20, 0.55);
}